.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.DS_Store
.env
.env.local
AWS_CREDENTIALS
aws_credentials
.aws
.idea
.vscode
*.swp
*.swo
*~
.coverage
htmlcov
.pytest_cache
*.log
logs/
test_output/
node_modules/
.github
.gitattributes
CODEOWNERS
LICENSE
.editorconfig
.pre-commit-config.yaml
tox.ini
.mypy_cache
.ruff_cache
setup.cfg
pyproject.toml
pytest.ini
